= content_for :head do
  %title
    = t(:application_name)
    \-
    = t(:title_application_index)

- @albums.in_groups_of(8, false) do |group_albums|
  - group_albums.each do |album|
    .grid_2.albums_list_thumb
      .album_entry
        %p
          %a{:href => album_path(album)}
            - if !album.pictures.empty?
              = image_tag get_picture_url(album.pictures.first.photo, :thumb)
            %br
            %span= album.name
  .clear