= t(:exif_data, :scope => [:exif])
#exifDatas
  = t(:image_width, :scope => [:exif])
  = @picture.exif.width
  %br
  = t(:image_height, :scope => [:exif])
  = @picture.exif.height
  %br
  - if @picture.exif.gps_latitude and @picture.exif.gps_longitude
    = t(:longitude, :scope => [:exif])
    = @picture.exif.gps_longitude
    %br
    = t(:latitude, :scope => [:exif])
    = @picture.exif.gps_latitude
    %br
  = t(:camera_model, :scope => [:exif])
  - if current_user && current_user.admin?
    = on_the_spot_edit @picture.exif, :camera_model, :tooltip => "Change camera model."
    %small.edit_exif
      edit
  - else
    = @picture.exif.camera_model
  %br
  = t(:camera_brand, :scope => [:exif])
  - if current_user && current_user.admin?
    = on_the_spot_edit @picture.exif, :camera_brand, :tooltip => "Change camera brand."
    %small.edit_exif
      edit
  - else
    = @picture.exif.camera_brand
  %br
  = t(:exposure_time, :scope => [:exif])
  - if current_user && current_user.admin?
    = on_the_spot_edit @picture.exif, :exposure_time, :tooltip => "Change exposure time."
    %small.edit_exif
      edit
  - else
    = @picture.exif.exposure_time
  %br
  = t(:f_number, :scope => [:exif])
  - if current_user && current_user.admin?
    = on_the_spot_edit @picture.exif, :f_number, :tooltip => "Change f-number."
    %small.edit_exif
      edit
  - else
    = @picture.exif.f_number
  %br
  = t(:iso, :scope => [:exif])
  - if current_user && current_user.admin?
    = on_the_spot_edit @picture.exif, :iso_speed_rating, :tooltip => "Change ISO."
    %small.edit_exif
      edit
  - else
    = @picture.exif.iso_speed_rating
  %br
  = t(:focale_length, :scope => [:exif])
  - if current_user && current_user.admin?
    = on_the_spot_edit @picture.exif, :focale_length, :tooltip => "Change focale length."
    %small.edit_exif
      edit
  - else
    = @picture.exif.focale_length
  %br
  = t(:picture_date, :scope => [:exif])
  - if current_user && current_user.admin?
    = on_the_spot_edit @picture.exif, :shot_date_time, :tooltip => "Change picture date."
    %small.edit_exif
      edit
  - else
    = @picture.exif.shot_date_time
  %br
  = t(:flash_mode, :scope => [:exif])
  = t "mode#{@picture.exif.flash || 'nil'}".to_sym, :scope => [:exif, :flash]