= content_for :head do
  %title
    = t(:title_pictures_show)
    \-
    = t(:application_name)

.grid_10
  .grid_10.alpha.omega
    %span.pictureName
      = @picture.name.blank? ? @picture.photo.file.filename : @picture.name
  .clear

  .grid_10.alpha.omega
    = image_tag get_picture_url(@picture.photo, :normal)
  .clear

  .grid_10.alpha.omega
    <!-- picture comment -->
  .clear

.grid_5.prefix_1
  - if !@picture.exif.no_exif
    = render :partial => "map"
  #navigation
    = render :partial => "navigation"
  #pictureInfos
    = render :partial => "infos"
  #exif
    - if !@picture.exif.no_exif
      = render :partial => "exif"
.clear