<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <meta content="text/html; charset=UTF-8",
    http-equiv="Content-Type" />
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "http://openlayers.org/api/OpenLayers.js" %>
    <%= javascript_include_tag "map" %>
    <%= stylesheet_link_tag 'reset', 'text', '960', 'application' %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>

    <div id="header">
      <%= render :partial => "shared/header" %>
    </div>

    <div id="content">
      <div class="container_16">
        <%= render :partial => "shared/breadcrumb" %>
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>
